html,
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/fondo.jpeg");
}

.nav {
    height: 80px;
    width: 50px;
}